<a href="https://colab.research.google.com/github/andressamiwa/MachineLearning/blob/master/British_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Working with the preparation of the dataset
#Made in google colab
#The dataset contains different informations about books in the "British Library"

In [1]:
#Inclusion of libraries
import numpy as np #data analysis (vectors and matrix)
import pandas as pd #used to clean data and work with the dataframe
import datetime #transform in string

In [2]:
#importing the dataset in google colab
from google.colab import files
upload = files.upload()

Saving BL-Flickr-Images-Book-subset.csv to BL-Flickr-Images-Book-subset.csv

In [3]:
#Importing the data to the dataframe using pandas
dataset = 'BL-Flickr-Images-Book-subset.csv'
df_flickr_book = pd.read_csv(dataset)

In [4]:
#analysis of the 5 first rows of the dataset
df_flickr_book.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [5]:
#informations about the dataset
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [6]:
#drop of columns that we are not going to use for the analysis
drop_columns = ['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver','Issuance type','Flickr URL','Shelfmarks']
df_flickr_book.drop(columns=drop_columns,axis=1,inplace=True)

In [7]:
#analysing the head() without the columns
df_flickr_book.head()

   Identifier  ...                                  Contributors
0         206  ...                               FORBES, Walter.
1         216  ...  BLAZE DE BURY, Marie Pauline Rose - Baroness
2         218  ...  BLAZE DE BURY, Marie Pauline Rose - Baroness
3         472  ...                   Appleyard, Ernest Silvanus.
4         480  ...                           BROOME, John Henry.

[5 rows x 7 columns]

In [8]:
df_flickr_book.info() #analysing without the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Contributors          8287 non-null   object
dtypes: int64(1), object(6)
memory usage: 453.3+ KB

In [9]:
#verifying if exists on unique identifier for the dataset
print(df_flickr_book['Identifier'].is_unique)

True

In [10]:
#counting the unique values
df_flickr_book['Identifier'].nunique() #number of unique values

8287

In [11]:
#finding values that don´t fit the dataset
df_flickr_book.loc[1905:,'Date of Publication'].head(10) #From the row 1905 until the end of the 'Date of Publication' column

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [13]:
#Regular expressions to deal with the date
#find group of 4 digits 
expre_regular = r'^(\d{4})' 
extr = df_flickr_book['Date of Publication'].str.extract(expre_regular,expand = False)

In [14]:
extr[1905:]

1905    1879
1906    1886
1907    1844
1908    1861
1909    1884
        ...
8282    1838
8283    1831
8284     NaN
8285    1834
8286    1834
Name: Date of Publication, Length: 6382, dtype: object

In [15]:
#converting to numeric and applying to the dataset
df_flickr_book['Date of Publication']=pd.to_numeric(extr)

In [16]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   7316 non-null   float64
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Contributors          8287 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 453.3+ KB

In [17]:
#counting null values
df_flickr_book['Date of Publication'].isnull().sum()

971

In [18]:
df_flickr_book['Date of Publication'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284     True
8285    False
8286    False
Name: Date of Publication, Length: 8287, dtype: bool

In [19]:
#working with NaN values
df_flickr_book.dropna(subset=['Date of Publication'],inplace=True) #eliminate null values
df_flickr_book['Date of Publication']=df_flickr_book['Date of Publication'].astype(int)

In [20]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7316 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            7316 non-null   int64
 1   Place of Publication  7316 non-null   object
 2   Date of Publication   7316 non-null   int64
 3   Publisher             3576 non-null   object
 4   Title                 7316 non-null   object
 5   Author                5782 non-null   object
 6   Contributors          7316 non-null   object
dtypes: int64(2), object(5)
memory usage: 457.2+ KB

In [21]:
#publish locations
df_flickr_book['Place of Publication'].head(10)

0                       London
1     London; Virtue & Yorston
2                       London
3                       London
4                       London
5                       London
6                       London
8                      London]
9                       London
10                    Coventry
Name: Place of Publication, dtype: object

In [22]:
#some locations are not written in a good way, so we are going to analyse here if there is the name 'London'
df_flickr_book['Place of Publication'].str.contains('London').head(10)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
8      True
9      True
10    False
Name: Place of Publication, dtype: bool

In [24]:
london = df_flickr_book['Place of Publication'].str.contains('London')
oxford = df_flickr_book['Place of Publication'].str.contains('Oxford')

In [25]:
df_flickr_book['Place of Publication']=np.where(london,'London',np.where(oxford,'Oxfordd',df_flickr_book['Place of Publication'].str.replace('-',' ')))

In [26]:
df_flickr_book.head()

   Identifier  ...                                  Contributors
0         206  ...                               FORBES, Walter.
1         216  ...  BLAZE DE BURY, Marie Pauline Rose - Baroness
2         218  ...  BLAZE DE BURY, Marie Pauline Rose - Baroness
3         472  ...                   Appleyard, Ernest Silvanus.
4         480  ...                           BROOME, John Henry.

[5 rows x 7 columns]