<a href="https://colab.research.google.com/github/andressamiwa/MachineLearning/blob/master/car_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#working with categorical data
import pandas as pd
import numpy as np

In [2]:
#import of the dataset to google colab
from google.colab import files
upload = files.upload()

Saving imports-85.txt to imports-85.txt

In [5]:
#dataframe using pandas
dataset = 'imports-85.txt'
df_car = pd.read_csv(dataset,sep = ',', header = None, na_values = "?")

In [6]:
df_car.head()

   0      1            2    3    4     5   ...    20     21      22  23  24       25
0   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  13495.0
1   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  16500.0
2   1    NaN  alfa-romero  gas  std   two  ...   9.0  154.0  5000.0  19  26  16500.0
3   2  164.0         audi  gas  std  four  ...  10.0  102.0  5500.0  24  30  13950.0
4   2  164.0         audi  gas  std  four  ...   8.0  115.0  5500.0  18  22  17450.0

[5 rows x 26 columns]

In [7]:
headers = {0:"symboling",1:"normalized_losses",2:"make",3:"fuel_type",4:"aspiration",
           5:"num_doors",6:"body_style",7:"drive_wheels",8:"engine_location",
           9:"wheel_base",10:"length",11:"width",12:"height",13:"curb_weight",
           14:"engine_type",15:"num_cylinders",16:"engine_size",17:"fuel_systems",
           18:"bore",19:"stroke",20:"compression_ratio",21:"horsepower",22:"peak_rpm",
           23:"city_mpg",24:"highway_mpg",25:"price"}

In [9]:
df_car.rename(columns = headers,inplace=True)
df_car.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [10]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          203 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_systems       205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak_rpm           203 non-null    float64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [11]:
df_car.dtypes.eq('object').sum()

10

In [12]:
#selecting only the categorical data
df_car_string = df_car.select_dtypes(include=['object']).copy()
df_car_string.head()

          make fuel_type aspiration  ... engine_type num_cylinders fuel_systems
0  alfa-romero       gas        std  ...        dohc          four         mpfi
1  alfa-romero       gas        std  ...        dohc          four         mpfi
2  alfa-romero       gas        std  ...        ohcv           six         mpfi
3         audi       gas        std  ...         ohc          four         mpfi
4         audi       gas        std  ...         ohc          five         mpfi

[5 rows x 10 columns]

In [13]:
df_car_string.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             205 non-null    object
 1   fuel_type        205 non-null    object
 2   aspiration       205 non-null    object
 3   num_doors        203 non-null    object
 4   body_style       205 non-null    object
 5   drive_wheels     205 non-null    object
 6   engine_location  205 non-null    object
 7   engine_type      205 non-null    object
 8   num_cylinders    205 non-null    object
 9   fuel_systems     205 non-null    object
dtypes: object(10)
memory usage: 16.1+ KB

In [14]:
df_car_string.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_systems       0
dtype: int64

In [16]:
df_car_string.dropna(inplace=True)
df_car_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             203 non-null    object
 1   fuel_type        203 non-null    object
 2   aspiration       203 non-null    object
 3   num_doors        203 non-null    object
 4   body_style       203 non-null    object
 5   drive_wheels     203 non-null    object
 6   engine_location  203 non-null    object
 7   engine_type      203 non-null    object
 8   num_cylinders    203 non-null    object
 9   fuel_systems     203 non-null    object
dtypes: object(10)
memory usage: 17.4+ KB

In [17]:
df_car_string['num_cylinders'].value_counts() #number of categorical data

four      157
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

In [18]:
#using dictionary and the function "replace" to transform in numeric data
class_mapping = {"num_doors": {"four":4,"two":2}, "num_cylinders":{"four":4,"six":6,"five":5,"eight":8,
                                                                   "two":2,"twelve":12,"three":3}}

In [19]:
#applying the replace function
df_car_string.replace(class_mapping,inplace=True)
df_car_string.head()

          make fuel_type aspiration  ...  engine_type num_cylinders fuel_systems
0  alfa-romero       gas        std  ...         dohc             4         mpfi
1  alfa-romero       gas        std  ...         dohc             4         mpfi
2  alfa-romero       gas        std  ...         ohcv             6         mpfi
3         audi       gas        std  ...          ohc             4         mpfi
4         audi       gas        std  ...          ohc             5         mpfi

[5 rows x 10 columns]

In [20]:
#applying label encoding
df_car_string["body_style"]=df_car_string["body_style"].astype('category')
df_car_string.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_systems         object
dtype: object

In [21]:
df_car_string["body_style_cat"]=df_car_string["body_style"].cat.codes
df_car_string.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_systems         object
body_style_cat         int8
dtype: object

In [22]:
df_car_string.head()

          make fuel_type aspiration  ...  num_cylinders fuel_systems body_style_cat
0  alfa-romero       gas        std  ...              4         mpfi              0
1  alfa-romero       gas        std  ...              4         mpfi              0
2  alfa-romero       gas        std  ...              6         mpfi              2
3         audi       gas        std  ...              4         mpfi              3
4         audi       gas        std  ...              5         mpfi              3

[5 rows x 11 columns]

In [23]:
#one hot encoding
df_car_string['drive_wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [24]:
pd.get_dummies(df_car_string,columns=["drive_wheels"]).head()

          make fuel_type  ... drive_wheels_fwd  drive_wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]